<!DOCTYPE html>
<html>
  <head>
    <title>Новости</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <nav class="navbar news-header" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <%# <div class="logo">
              <div class="pre-name">News</div>
              <div class="after-name">Hub</div>
            </div> %>
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <%= link_to t('main_page.home_link'), home_path, class: "navbar-item nav-button" %>
            <%= link_to t('main_page.setting'), account_path, class: "navbar-item nav-button" %>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <button class="button is-rounded is-small"><%= link_to 'EN', locale: :us %></button>
                <button class="button is-rounded is-small"><%= link_to 'RU', locale: :ru %></button>
              </div>
            </div>
            <div class="navbar-item">
              <div class="buttons">
                <%= link_to t('main_page.signup'), new_user_registration_path, class: "button-default" %>
                <% if current_user %>
                  <%= link_to t('main_page.signout'), destroy_user_session_url, method: :delete, class: "button-default" %>
                <% else %>
                  <%= link_to t('main_page.signin'), new_user_session_path, class: "button-grey" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
